{{>layout/header}}
<h2>전체 게시물</h2>
{{#post}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="/post/find/{{id}}">{{title}}</a></h5>
            <h6 class="class=card-subtitle mb-2 text-muted">{{author}}</h6>
            <p class="card-text">{{content}}</p>
        </div>
    </div>
{{/post}}
{{>layout/footer}}
