{{>layout/header}}
<h1 style="text-align:center "><a href="/" style="text-decoration:none,color:black">TodoPostWeb</a></h1>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container px-4">
        <a class="navbar-brand" href="/">내게시물</a>
        <a class="navbar-brand" href="/post/all">전체게시물</a>
        <a class="navbar-brand" href="/post/create">게시물작성</a>
        <a class="navbar-brand" href="/todo/create">할일추가</a>
    </div>
</nav>
<div>
</div>
    <div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" placeholder="제목" id="title">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">작성자</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" placeholder="작성자" id="author">
        </div>
        <div class="input-group">
            <span class="input-group-text">내용</span>
            <textarea class="form-control" aria-label="With textarea"
            placeholder="내용" id="content"></textarea>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" id="btn-postCreate">글 등록</button>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
    </div>
{{>layout/footer}}
