{{>layout/header}}
<div>
</div>
{{#post}}
    <div>
        <div>
            <p>{{modifiedAt}}</p>
        </div>
            <div class ="row">
                <div class="col-8">
                    <h2>{{title}}</h2>
                </div>
                <div class="col-1">
                <a href="/post/update/{{id}}" class="btn btn-success" id="btn-toPostUpdate">글 수정</a>
                </div>
            </div>
        <h6 id="author">{{author}}</h6>
        <p>{{content}}</p>
    </div>
    <script>
        var userName = document.getElementById('user').innerText;
        var author = document.getElementById('author').innerText;
        if(userName != author){
        document.querySelector('#btn-toPostUpdate').removeAttribute('href');
        }
    </script>
{{/post}}
{{>layout/footer}}